<fieldset>
    <legend>
        <div class="row-fluid">
            <span class="span9">{{list.name}}</span>
            <a class="btn btn-primary span3" href="#/lists/{{list.id}}/edit">Edit</a>
        </div>
    </legend>
    
    <div class="row-fluid" ng-repeat="group in list.groups" ng-hide="group.allDone">
        <h4 class="span11">{{group.name}}</h4>
        <ul class="span11 grocery-items">
            <li ng-repeat="item in group.items" ng-hide="item.done">
                <a class="span12" ng-click="markDone(group, item)">
                    <i class="icon-ok"></i>
                    <span class="item-name">{{item.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</fieldset>